@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Poiret+One&display=swap');
@import "../../node_modules/normalize.css/normalize";
.font {
    &--Poiret {
        font-family: 'Poiret One', cursive;
    }
    &--Fjalla {
        font-family: 'Fjalla One', sans-serif;
    }
}

$c-1: darkgrey;
html,
body {
    height: 100%;
    background: #f1f1f1;
    // font-size: 24px;
    * {
        box-sizing: border-box;
    }
}

.circle {
    border-radius: 100vh;
    &--1 {
        border: solid 1em #f7f7f7;
        box-shadow: .2em .2em .8em rgba(0, 0, 0, 0.1);
        transition-duration: .3s;
        transition-property: filter, box-shadow;
        &:hover {
            box-shadow: .2em .2em 1.6em rgba(0, 0, 0, 0.1);
        }
    }
}

.page--home {
    // min-height: 100%;
    .my {
        display: grid;
        height: 100%;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-content: center;
        text-align: center;
        grid-template-rows: 280px 50px auto auto;
        &__photo {
            img {
                font-size: 10px;
                width: 22em;
                filter: grayscale(0);
                @media (any-hover: hover) {
                    filter: grayscale(1);
                }
                &:hover {
                    // box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.1);
                    filter: grayscale(0);
                }
            }
        }
        &__name {
            font-size: 2.4rem;
        }
        &__identity {
            font-size: 2rem;
            color: $c-1;
        }
        &__links {
            $size: 10em;
            svg {
                height: calc(#{$size} - 2em);
                width: calc(#{$size} - 2em);
            }
            ul {
                padding-left: 0;
                padding-top: 20px;
                display: inline-flex;
                width: 100%;
                justify-content: space-between;
                li {
                    font-size: 4px;
                    margin: 0 1em;
                    border-radius: 999px;
                    height: $size;
                    width: $size;
                    list-style-type: none;
                    transition-duration: .3s;
                    transition-property: background;
                    &:hover {
                        background: cadetblue;
                    }
                }
            }
        }
    }
}

.page {
    &--programmer {
        .l--table {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    &--designer {
        .l--table {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
    &--portfolio {
        .l--table {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        a {
            display: block;
        }
    }
}

.portfolio-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.align--md--center {
    text-align: center;
}

.text--c-1 {
    color: $c-1;
}

a.text--c-1 {
    &:nth-child(2):hover {
        +a {
            color: #000;
        }
    }
    &:hover {
        color: #000;
    }
    &::first-letter {
        initial-letter: 1;
        color: #000;
        // font-size: 2em;
    }
}

.l--1 {
    // column-gap: 1em;
    display: grid;
    // grid-template-rows: 50% 50%;
    // grid-template-columns: 1fr;
    min-height: 100vh;
    width: 100%;
    font-size: 24px;
    h1 {
        align-self: end;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

.l--table {
    // column-gap: inherit;
    // row-gap: 1em;
    // align-content: start;
    // align-items: center;
    // display: grid;
    // // grid-template-columns: 3fr minmax(15em, 1fr);;
}

.record {
    // &__skill-set {
        display: flex;
        flex-direction: column-reverse;
        
        align-items:center;
    // }
    &__val {
        flex: 3;
    }
    &__key {
        flex: 1;
        min-width: 15em;
        padding-left: 0em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    // .page--designer &{
    //     flex-direction: row-reverse;
    // }
} 

@media screen AND (min-width: "769px") {
    .l--1 {
        column-gap: 1em;
        grid-template-rows: 50% 50%;
        grid-template-columns: 3fr minmax(15em, 1fr);
        min-height: 100vh;
        width: 100%;
        h1 {
            align-self: end;
            grid-column-start: 2;
            grid-column-end: 3;
        }
        padding-left: 20%;
    }
    .l--table {
        // column-gap: inherit;
        // row-gap: 1em;
        // align-content: start;
        // align-items: center;
        // display: grid;
        // // grid-template-columns: 3fr minmax(15em, 1fr);
        display: flex;
        flex-direction: column;
     
    }
    // .page--designer{

    // }
    .record {
        // &__skill-set {
            // display: flex;
            // align-items:center;
        // }
        flex-direction: row;

        &__val {
            flex: 3;
        }
        &__key {
            flex: 1;
            min-width: 15em;
            padding-left: 1em;
        }
        // .page--designer &{
        //     flex-direction: row-reverse;
        // }
    } 
    .align--lg--right {
        text-align: right;
    }
    .align--lg--left {
        text-align: left;
    }
}